/* Global */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    padding-bottom: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
}

/* Header */

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
    margin: 0 100px 0 0;
    width: 25%;
}

.header h1 .seo {
    color: #d0d3cc;
    display: inline-block;
}

.header div {    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.header div ul {
    align-items: center;
    list-style-type: none;    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    
}

.header div ul li {   
    display: block;
    margin-left: 20px;
}

.header div ul li a:hover {
    color: aqua;
}

/* Main image */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    
}

/* Main content blocks */

.content-structure {
    display: flex;
    justify-content: space-evenly;
}
.content {
    width: 70%;
    display: inline-block;
}

.content-blocks {
    margin-bottom: 20px;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    display: flex;
    position: relative;
    align-items: center;
}

.search-engine-optimization, .online-reputation-img, .social-media-marketing {
    margin-left: 15px;
}

.content-info {
    width: 60%;
}

.content-images {
    
    width: 39%;
}

.content-blocks img {
    width: 100%;
    height: auto;
}

.content-blocks h2 {
    margin-bottom: 20px;
}

/* Sidebar benefits section */

.benefits {
    width: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-sections {
    padding: 10px;
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-sections h4 {
    text-align: center;
}

.benefit-sections img {
    display: inline-block;
    max-width: 140px; 
    
}
